.modalBtnDiv {
  margin: 12px;
}

.task-input {
  display: inline;
  width: 285px;
}

.add-task-button:hover {
  cursor: pointer;
  fill: darkblue;
}

#myProBG {
  background-image: url('https://i.pinimg.com/originals/18/69/90/1869906db4ca9de2b9c4e2604000995f.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}